extends layout.pug

block body
  .container.jumbotron
    div.col-sm-6.col-sm-offset-3
      h1 Dashboard
      
      a(href='/budget') Budget
      a(href='/spending') Spending
      a(href='/history') History
      a(href='/settings') Settings
