<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Budget App</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body ng-app="budgetApp">
        <div class="container budgetCtrl" ng-Controller="budgetCtrl" >
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                  <h3>Monthly Income: ${{ monthlyIncome }}</h3>
                  <input type="number" class="form-control" ng-model="monthlyIncome " placeholder="Monthly Income">
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                  <h3>Expenses: ${{expenseTotal.amount}}</h3>
                  <div class="">
                    <div class="row">
                      <span class='col-md-5'>Amount</span>
                      <span class='col-md-5'>Type</span>
                    </div>
                    <div ng-repeat="expense in expenses" >
                        <span class="row">
                          <span class='col-md-5'>${{expense.amount}}</span>
                          <span class='col-md-5'>{{expense.type}}</span>
                          <button type="button" class="btn btn-danger col-md-2" ng-click='removeExpense(expense)'>Delete</button>
                        </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                        <input type="number" class="form-control" ng-model="amount" placeholder="Amount" required>
                        <span class='errorInvalid'>Please Enter a valid number</span>
                    </div>
                    <div class="col-md-5">
                      <select class="form-control" name="type" placehodler="type" ng-model="type">
                        <option value='' disabled>Type</option>
                        <option value="Food">Food</option>
                        <option value="Housing">Housing</option>
                        <option value="CC">Credit Card</option>
                        <option value="Student">Student Loans</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Transportation">Transportation</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary" type="button" ng-click="addExpense(amount, type)">Add</button>
                    </div>
                  </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                  <h3>Money leftover: ${{monthlyIncome - expenseTotal.amount}}</h3>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="./app/app.js"></script>
    </body>
</html>
