<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Budget App</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body ng-app="budgetApp">
        <div class="container budgetCtrl" ng-Controller="budgetCtrl" >
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                  <h3>Monthly Income: {{ monthlyIncome }}</h3>
                  <input type="number" class="form-control" ng-model="monthlyIncome " placeholder="Monthly Income">
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                  <h3>Expenses: {{expenseTotal}}</h3>
                  <div class="list-group">
                    <p class="list-group-item" ng-repeat="expense in expenses">{{expense}}</p>
                  </div>
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="expense" placeholder="Expenses">
                    <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="addExpense(expense)">Add</button></span>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                  <h3>Money leftover: {{monthlyIncome - expenseTotal}}</h3>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="./app/app.js"></script>
    </body>
</html>
