.errorInvalid {
  color: red;
  font-size: 11px;
  display: none;
}

input.ng-invalid.ng-touched + .errorInvalid {
  display: block;
}

body {
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
}
