.navbar {
  margin-bottom: 0;
  background: #1f0b3c;
  border: none;
  border-radius: 0px;
  color:white;
}
.navbar-default .navbar-nav li a {
  color:white;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
}
.navbar-default .navbar-nav li a:hover {
  color:#db0a5b;
  cursor: pointer;
}
.navbar-default .navbar-nav .active a {
  background: none;
  color:#db0a5b;
  font-weight: bold;
}
.navbar-brand {
  padding: 10px 15px
}
.logo {
  height: 30px;
}
