.navbar {
  margin-bottom: 0;
  background: white;
  border: none;
}
.navbar-default .navbar-nav li a {
  color: #444;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
}
.navbar-default .navbar-nav li a:hover {
  color:#222;
}
.navbar-default .navbar-nav .active a {
  background: none;
  color: #222;
  font-weight: bold;
}
