.errorInvalid {
  color: red;
  font-size: 11px;
  display: none;
}

input.ng-invalid.ng-touched + .errorInvalid {
  display: block;
}

.navbar {
  margin-bottom: 0;
}
body {
  padding-bottom: 6rem;
  min-height: 100%;
}
.footer {
  background: #eee;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer p {
  padding: 10px;
}
