extends layout.pug

block body
  .jumbotron.homeHero
    .homeHero_content
      h2 Simple Budget App
      p Literally just a budget app
      button.btn.btn-primary.homeHero_btn--primary(type='button', name='button') Create Free Account
      button.btn.btn-default.homeHero_btn--secondary(type='button', name='button') Budget Tool
  .container.budgetCtrl(ng-controller='budgetCtrl')
