extends layout.pug

block body
  .jumbotron
    .container
      h2 Simple Budget App
      p Basic Budget that calculates budgets based on income and expenses
      p Sign up to save your info, or use the planning tool
      button.btn.btn-primary(type='button', name='button') Create Free Account
      button.btn.btn-default(type='button', name='button') Budget Tool
  .container.budgetCtrl(ng-controller='budgetCtrl')
