extends layout.pug

block body
  .jumbotron.homeHero
    .homeHero_content
      h2 Simple Budget App
      p Literally just a budget app
      a.btn.btn-primary.homeHero_btn--primary(href='/signup') Create Free Account
