doctype html
html
  head
    meta(charset='utf-8')
    title Simple Budget App
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles/styles.css')
    link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
  body(ng-app='budgetApp')
    include ./shared/header.pug
    block body
    include ./shared/footer.pug
    script(src='lib/jquery/dist/jquery.min.js')
    script(src='lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='lib/angular/angular.min.js')
    script(src='lib/chart.js/dist/Chart.min.js')
    script(src='//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
    script(src='./js/app.js')
