doctype html
html
  head
    meta(charset='utf-8')
    title Simple Budget App
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles/styles.css')
  body(ng-app='budgetApp')
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Simple Budget App
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Sign Up
          li
            a(href='#') Sign in
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#')
                | Budget Planning
                span.sr-only (current)
        // /.navbar-collapse
      // /.container-fluid
    block body
    .footer.text-center
      p Copyright 2017
    script(src='lib/jquery/dist/jquery.min.js')
    script(src='lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='lib/angular/angular.min.js')
    script(src='node_modules/chart.js/dist/Chart.min.js')
    script(src='node_modules/angular-chart.js/dist/angular-chart.min.js')
    script(src='./js/app.js')
