extends layout.pug

block body
  .container.jumbotron
    div.col-sm-6.col-sm-offset-3
      h1 Profile
      div  
        p #{user._id}
        p #{user.local.email}
        p #{user.local.password}
