extends layout.pug

block body
  .container.jumbotron
    div.col-sm-6.col-sm-offset-3
      h1 Signup
      form(action="/signup" method="post")
        div.form-group
          label Email
          input(type='text' class="form-control" name="email")
        div.form-group
          label Password
          input(type='password' class='form-control' name='password')
            
        button(type='submit' class='btn btn-primary btn-lg') Signup
