.navbar--auth {
  background: #3e5366;
  border-radius: 0;
}
.navbar--auth .navbar-nav li a {
  color: #95aabf;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
}
.navbar--auth .navbar-nav li a:hover {
  color: #95aabf;
}
.navbar--auth .navbar-nav .active a {
  background: none;
  color: #95aabf;
  font-weight: bold;
}
.navbar--auth .navbar-nav .dropdown {
  padding: 5px;
}
.navbar--auth .navbar-nav li .profile_icon_container {
  padding: 5px;
  background: purple;
  border-radius: 100%;
}
.profile_icon {
  width: 30px;
  height: 30px
}
.nav-center {
  text-align: center;
  position: absolute;
  margin: 10px auto;
  left: 0;
  right: 0;
  color: white;
  font-size: 24px;
}
